<configuration>

  <!--
  <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
    <http>
      <url>http://loki.monkey-projects.be/loki/api/v1/push</url>
      <tenantId>monkeyci</tenantId>
    </http>
    <labels>
      env=dev
      app=monkeyci
      role=script
      level=%level
    </labels>
    <message>
      <pattern>l=%level h=${HOSTNAME} c=%logger{20} t=%thread | %msg %ex</pattern>
    </message>
    <sortByTime>true</sortByTime>
    <batch>
      <batchTimeoutMs>1000</batchTimeoutMs>
    </batch>
  </appender>
  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>TRACE</level>
    </filter>		
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="org" level="WARN"/>
  <logger name="com" level="WARN"/>
  <logger name="net" level="WARN"/>
  <logger name="io" level="WARN"/>
  <logger name="monkey.ci" level="DEBUG"/>
  <logger name="monkey.ci.jobs" level="TRACE"/>
  <logger name="monkey.mailman.nats.core" level="TRACE"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

  <shutdownHook/>
</configuration>
