{:deps {binaryage/oops {:mvn/version "0.7.2"}
        day8.re-frame/http-fx {:mvn/version "0.2.4"}
        com.github.oliyh/martian-re-frame {:mvn/version "0.1.33"}
        com.monkeyci/common {:mvn/version "0.20.2-SNAPSHOT"}
        com.monkeyci/site-template {:mvn/version "0.2.4"}
        medley/medley {:mvn/version "1.4.0"}
        metosin/reitit-frontend {:mvn/version "0.9.1"}
        org.clojure/core.async {:mvn/version "1.8.741"}
        reagent/reagent {:mvn/version "1.3.0"}
        re-frame/re-frame {:mvn/version "1.4.3"}
        thheller/shadow-cljs {:mvn/version "3.1.7"}}

 :paths ["src" "resources"]

 :aliases
 {:dev
  {:extra-paths ["env/dev"]
   :override-deps {com.monkeyci/common {:local/root "../common"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps {com.github.oliyh/martian-test {:mvn/version "0.1.33"}
                lambdaisland/kaocha-cljs2 {:mvn/version "0.2.72"}
                day8.re-frame/test {:mvn/version "0.1.5"}
                devcards/devcards {:mvn/version "0.2.7"}
                com.monkeyprojects/shadow-junit-xml {:mvn/version "0.2.0"}}
   :override-deps {com.monkeyci/common {:local/root "../common"}}}

  :test/clj
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"}}
   :exec-fn monkey.test/all}

  :gen-main
  {:extra-deps {hiccup/hiccup {:mvn/version "2.0.0"}}
   :exec-fn monkey.ci.gui.build/gen-main
   :exec-args {:output "target/index.html"}}
  
  :gen-admin
  {:extra-deps {hiccup/hiccup {:mvn/version "2.0.0"}}
   :exec-fn monkey.ci.gui.build/gen-admin
   :exec-args {:output "target/admin/index.html"}}

  ;; clj -X:gen-main:staging or -X:gen-admin:staging
  :staging
  {:exec-args {:base-url "staging.monkeyci.com"}}

  ;; clj -X:gen-main:local or -X:gen-admin:local
  :local
  {:exec-args {:assets-url "http://localhost:8083/assets"
               :output "dev-resources/sites/public/index.html"}}}}
