;; shadow-cljs configuration
{:deps {:aliases [:dev :test]}
 :dev-http {8080 ["target/js/frontend" "dev-resources/sites/public" "resources/public"]
            8081 ["target/js/frontend" "dev-resources/sites/admin" "resources/public"]
            8002 ["dev-resources/devcards" "target/js/frontend" "resources/public"]}

 :builds
 {:frontend
  {:target :browser
   :modules
   {:common
    {}
    :main
    {:init-fn monkey.ci.gui.main/init
     :depends-on #{:common}}
    :admin
    {:init-fn monkey.ci.gui.admin/init
     :depends-on #{:common}}}
   :output-dir "target/js/frontend/js"}

  :test/browser
  {:target :browser-test
   :test-dir "target/js/test-kaocha"
;;   :runner-ns kaocha.cljs2.shadow-runner
   :runner-ns monkey.ci.gui.shadow-runner
   :ns-regexp ".*-test$"
   :devtools {:http-port 8001
              :http-root "target/js/test-kaocha"
              :preloads [lambdaisland.chui.remote]}}

  ;; Autorun disabled, because it always returns a zero exit code
  :test/node
  {:target :node-test
   :output-to "target/js/node.js"
   :compiler-options
   {:reader-features #{:node}}
   ;; Output as junit
   :main monkey.shadow.junit.runner/run-tests}

  :cards
  {:target :browser-test
   :ns-regexp "-cards$" ;; Pick up all files that end with -cards
   :test-dir "dev-resources/devcards"
   :runner-ns monkey.ci.gui.test.cards
   :compiler-options {:devcards true}
   :js-options {:resolve {"devcards-marked"
                          {:target :npm :require "marked"}
                          "devcards-syntax-highlighter"
                          {:target :npm :require "highlight.js"}}}}}}
