{:paths ["src"]
 :deps {cli-matic/cli-matic {:mvn/version "0.5.4"}}

 :tasks
 {cli
  {:doc "Runs cli"
   :requires ([monkey.ci.cli :as cli])
   :task cli/-main}
  
  test
  {:doc "Run unit tests"
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :requires ([kaocha.runner :as r])
   :task (r/exec-fn {})}}}
