{:deps {org.clojure/clojure {:mvn/version "1.12.4"}
        aleph/aleph {:mvn/version "0.9.5"} ; For http SSE receiving
        babashka/process {:mvn/version "0.6.25"}
        buddy/buddy-auth {:mvn/version "3.0.323"}
        buddy/buddy-core {:mvn/version "1.12.0-430"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        ch.qos.logback/logback-classic {:mvn/version "1.5.32"}
        clansi/clansi {:mvn/version "1.0.0"}
        clj-commons/clj-yaml {:mvn/version "1.0.29"}
        clj-jgit/clj-jgit {:mvn/version "1.1.0"
                           ;; Exclude these because they conflict with buddy
                           :exclusions [org.bouncycastle/bcpg-jdk18on
                                        org.bouncycastle/bcprov-jdk18on
                                        org.bouncycastle/bcpkix-jdk18on
                                        org.bouncycastle/bcutil-jdk18on]}
        clj-kondo/clj-kondo {:mvn/version "2026.01.19"}
        clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}
        com.github.loki4j/loki-logback-appender {:mvn/version "2.0.3"}
        com.monkeyci/common {:local/root "../common"}
        com.monkeyprojects/aero-ext {:mvn/version "0.3.1"}
        com.monkeyprojects/clj-scw-client {:mvn/version "0.1.4"}
        com.monkeyprojects/clompress {:mvn/version "0.2.0"}
        com.monkeyprojects/flow {:mvn/version "0.1.0"}
        com.monkeyprojects/mailman-core {:mvn/version "0.3.1"}
        com.monkeyprojects/mailman-jms {:mvn/version "0.3.1"}
        com.monkeyprojects/mailman-manifold {:mvn/version "0.3.1"}
        com.monkeyprojects/mailman-nats {:mvn/version "0.3.1"
                                         ;; Conflicts with other versions
                                         :exclusions [org.bouncycastle/bcprov-lts8on
                                                      org.slf4j/slf4j-api]}
        com.stuartsierra/component {:mvn/version "1.2.0"}
        com.taoensso/telemere {:mvn/version "1.2.1"}
        commons-io/commons-io {:mvn/version "2.21.0"}
        io.pedestal/pedestal.interceptor {:mvn/version "0.8.2-beta-4"}
        lambdaisland/kaocha {:mvn/version "1.91.1392"} ; Used for running build tests
        manifold/manifold {:mvn/version "0.5.0"}
        medley/medley {:mvn/version "1.4.0"}
        org.clojure/core.async {:mvn/version "1.9.865"}
        org.clojure/core.cache {:mvn/version "1.2.263"}
        org.clojure/tools.logging {:mvn/version "1.3.1"}
        org.eclipse.jgit/org.eclipse.jgit {:mvn/version "7.6.0.202603022253-r"}
        org.slf4j/jul-to-slf4j {:mvn/version "2.0.17"}
        yogthos/config {:mvn/version "1.2.1"}}

 :paths ["src"]

 :aliases
 {:dev
  {:extra-paths ["env/dev"]
   :extra-deps {org.clojure/tools.namespace {:mvn/version "1.5.1"}}}

   :test
  {:extra-paths ["test"]
   :extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"}
                com.monkeyci/test-utils {:local/root "../ext/test-utils"}}
   :exec-fn monkey.test/all}

  ;; clj -M:test:junit
  :junit
  {:exec-fn monkey.test/junit}

  :watch
  {:extra-deps {org.clojure/tools.namespace {:mvn/version "1.5.1"}}
   :exec-fn monkey.test/watch}

  :jar
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"
                                          :exclusions [org.slf4j/slfj4-nop]}}
   :exec-fn monkey.build/jar
   :exec-args {:jar "target/core.jar"
               :lib com.monkeyci/core
               :version [[:env "MONKEYCI_VERSION"] "0.26.6-SNAPSHOT"]
               :scm {:url "https://github.com/monkey-projects/monkeyci"}
               :pom-data [[:licenses
                           [:license
                            [:name "GPL v3"]
                            [:url "https://www.gnu.org/licenses/gpl-3.0.en.html#license-text"]]]]}}

  :install
  {:exec-fn monkey.build/jar+install}

  :deploy
  {:exec-fn monkey.build/jar+deploy}}}
