{:deps {babashka/fs      {:mvn/version "0.5.33"}
        babashka/process {:mvn/version "0.6.25"}
        medley/medley    {:mvn/version "1.4.0"}}
 :paths ["src"]

 :aliases
 {:test
  ;; clj -X:test
  {:extra-paths ["test"]
   :extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.5.32"}
                com.monkeyprojects/build {:mvn/version "0.3.1"}}
   :exec-fn monkey.test/all}

  ;; clj -X:test:junit
  :junit
  {:exec-fn monkey.test/junit}}}
