{:deps {aleph/aleph {:mvn/version "0.7.0-alpha2"} ; For http SSE receiving
        babashka/process {:mvn/version "0.5.21"}
        buddy/buddy-core {:mvn/version "1.11.423"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        ch.qos.logback/logback-classic {:mvn/version "1.4.14"}
        clansi/clansi {:mvn/version "1.0.0"}
        cli-matic/cli-matic {:mvn/version "0.5.4"}
        clj-jgit/clj-jgit {:mvn/version "1.0.2"
                           ;; Exclude these because they conflict with buddy
                           :exclusions [org.bouncycastle/bcpg-jdk15on
                                        org.bouncycastle/bcprov-jdk15on
                                        org.bouncycastle/bcpkix-jdk15on
                                        org.bouncycastle/bcutil-jdk15on]}
        clojure.java-time/clojure.java-time {:mvn/version "1.4.2"}
        com.github.loki4j/loki-logback-appender {:mvn/version "1.5.0-m1"}
        com.github.oliyh/martian-httpkit {:mvn/version "0.1.25"}
        com.monkeyci/script {:local/root "../lib"}
        com.monkeyprojects/socket-async {:mvn/version "0.1.0"}
        com.monkeyprojects/oci-sign {:mvn/version "0.1.3-SNAPSHOT"}
        com.monkeyprojects/oci-container-instance {:mvn/version "0.1.0-SNAPSHOT"}
        com.monkeyprojects/oci-os {:mvn/version "0.1.0-SNAPSHOT"}
        com.stuartsierra/component {:mvn/version "1.1.0"}
        commons-io/commons-io {:mvn/version "2.13.0"}
        http-kit/http-kit {:mvn/version "2.7.0"}
        medley/medley {:mvn/version "1.4.0"}
        metosin/reitit-middleware {:mvn/version "0.7.0-alpha5"}
        metosin/reitit-ring {:mvn/version "0.7.0-alpha5"}
        metosin/reitit-schema {:mvn/version "0.7.0-alpha5"}
        metosin/reitit-swagger {:mvn/version "0.7.0-alpha5"}
        org.clojars.alperenbayramoglu/clompress {:mvn/version "0.1.0"}
        org.clojars.lispyclouds/contajners {:mvn/version "1.0.1"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        yogthos/config {:mvn/version "1.2.0"}}
 
 :paths ["src" "resources"]
 
 :aliases
 {:dev
  {:extra-deps {}
   :extra-paths ["dev-resources" "env/dev"]}

  :test-paths ["test"]
  
  :test
  {:extra-paths [:test-paths]
   :extra-deps {com.monkeyprojects/build {:mvn/version "0.2-SNAPSHOT"}
                com.github.oliyh/martian-test {:mvn/version "0.1.25"}
                http-kit.fake/http-kit.fake {:mvn/version "0.2.1"}
                ring/ring-mock {:mvn/version "0.4.0"}}
   :exec-fn monkey.test/all
   ;; Add this to avoid falling back to the default logger
   :jvm-opts ["-Dlogback.configurationFile=resources/logback.xml"]}

  :junit ; Use this in conjunction with :test
  {:extra-deps {lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}}
   :main-opts ["-m" "kaocha.runner"
               "--plugin" "kaocha.plugin/junit-xml"
               ;; Plugin added for timing
               "--plugin" "kaocha.plugin/profiling"
               "--junit-xml-file" "junit.xml"
               ;; Skip docker integration tests, they require access to the socket
               "--skip-meta" ":docker"
               ;; Skip integration tests for now, they are too slow (for now)
               "--skip-meta" ":integration"]
   ;; Add this to avoid falling back to the default logger
   :jvm-opts ["-Dlogback.configurationFile=resources/logback.xml"]}

  :coverage
  {:exec-fn monkey.test/coverage
   :exec-args {:ns-regex ["monkey.ci.*"]
               :ns-exclude-regex [".*repl" ".*-test" "monkey.ci.build.*"]}}

  :watch ; Use in combination with :test, watches for changes
  {:extra-deps {org.clojure/tools.namespace {:mvn/version "1.4.4"}}
   :exec-fn monkey.test/watch
   ;; Skip integration and slow tests
   :exec-args {:kaocha.filter/skip-meta [:integration :slow]}}
  
  :run
  {:main-opts ["-m" "monkey.ci.core"]}

  :jar
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.2-SNAPSHOT"
                                          :exclusions [org.slf4j/slfj4-nop]}}
   :exec-fn monkey.build/jar
   :exec-args {:jar "target/monkeyci.jar"
               :lib com.monkeyci/app
               :version-env "MONKEYCI_VERSION"
               :main "monkey.ci.core"}
   ;; Add this to avoid falling back to the default logger
   :jvm-opts ["-Dlogback.configurationFile=resources/logback.xml"]}
  
  :install
  {:exec-fn monkey.build/jar+install}

  :deploy
  {:exec-fn monkey.build/jar+deploy}

  :uber
  {:exec-fn monkey.build/uberjar
   :exec-args {:jar "target/monkeyci-standalone.jar"}}

  :json-logging
  {:extra-deps {ch.qos.logback.contrib/logback-json-classic {:mvn/version "0.1.5"}}
   :jvm-opts ["-Dlogback.configurationFile=dev-resources/logback-json.xml"]}

  :loki-logging
  {:jvm-opts ["-Dlogback.configurationFile=dev-resources/logback-loki.xml"]}}}
