{:deps {org.clojure/tools.logging {:mvn/version "1.2.4"}
        ch.qos.logback/logback-classic {:mvn/version "1.4.11"}
        babashka/process {:mvn/version "0.4.13"}
        io.github.lispyclouds/contajners {:git/sha "ad4ffbb5f1972de9815c00f4c6d59b70101ec0a5"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        cli-matic/cli-matic {:mvn/version "0.5.4"}
        com.monkeyci/script {:local/root "../lib"}
        yogthos/config {:mvn/version "1.2.0"}
        medley/medley {:mvn/version "1.4.0"}}
 
 :paths ["src" "resources"]
 
 :aliases
 {:dev
  {:extra-deps {}
   :extra-paths ["dev-resources"]}

  :test-paths ["test"]
  
  :test
  {:extra-paths [:test-paths]
   :extra-deps {com.monkeyprojects/build {:mvn/version "0.1.0-SNAPSHOT"}}
   :exec-fn monkey.test/all
   ;; Add this to avoid falling back to the default logger
   :jvm-opts ["-Dlogback.configurationFile=resources/logback.xml"]}

  :junit ; Use this in conjunction with :test
  {:extra-deps {lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}}
   :main-opts ["-m" "kaocha.runner"
               "--plugin" "kaocha.plugin/junit-xml"
               ;; Plugin added for timing
               "--plugin" "kaocha.plugin/profiling"
               "--junit-xml-file" "junit.xml"
               ;; Skip docker integration tests, they require access to the socket
               "--skip-meta" ":docker"]}

  :coverage
  {:exec-fn monkey.test/coverage
   :exec-args {:ns-regex ["monkey.ci.*"]
               :ns-exclude-regex [".*repl" ".*-test" "monkey.ci.build.*"]}}

  :watch ; Use in combination with :test, watches for changes
  {:extra-deps {org.clojure/tools.namespace {:mvn/version "1.4.4"}}
   ;; Skip integration and slow tests
   :main-opts ["-m" "kaocha.runner" "--watch" "--skip-meta" ":integration" "--skip-meta" ":slow"]}
  
  :run
  {:main-opts ["-m" "monkey.ci.core"]}

  :jar
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.1.0-SNAPSHOT"
                                          :exclusions [org.slf4j/slfj4-nop]}}
   :exec-fn monkey.build/jar
   :exec-args {:jar "target/monkeyci.jar"
               :lib com.monkeyci/app
               :main "monkey.ci.core"}
   ;; Add this to avoid falling back to the default logger
   :jvm-opts ["-Dlogback.configurationFile=resources/logback.xml"]}

  :uber
  {:exec-fn monkey.build/uberjar
   :exec-args {:jar "target/monkeyci-standalone.jar"}}}}
