{:deps {org.clojure/clojure {:mvn/version "1.12.1"}
        aleph/aleph {:mvn/version "0.9.0"} ; For http SSE receiving
        babashka/process {:mvn/version "0.6.23"}
        buddy/buddy-auth {:mvn/version "3.0.323"}
        buddy/buddy-core {:mvn/version "1.12.0-430"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        ch.qos.logback/logback-classic {:mvn/version "1.5.18"}
        clansi/clansi {:mvn/version "1.0.0"}
        clj-commons/clj-yaml {:mvn/version "1.0.29"}
        cli-matic/cli-matic {:mvn/version "0.5.4"}
        clj-jgit/clj-jgit {:mvn/version "1.1.0"
                           ;; Exclude these because they conflict with buddy
                           :exclusions [org.bouncycastle/bcpg-jdk18on
                                        org.bouncycastle/bcprov-jdk18on
                                        org.bouncycastle/bcpkix-jdk18on
                                        org.bouncycastle/bcutil-jdk18on]}
        clj-kondo/clj-kondo {:mvn/version "2025.07.28"}
        clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}
        com.github.loki4j/loki-logback-appender {:mvn/version "2.0.0"}
        com.github.seancorfield/honeysql {:mvn/version "2.7.1340"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.1048"}
        com.monkeyprojects/aero-ext {:mvn/version "0.3.1"}
        com.monkeyprojects/clj-scw-client {:mvn/version "0.1.1"}
        com.monkeyprojects/clompress {:mvn/version "0.1.3"}
        com.monkeyprojects/mailman-core {:mvn/version "0.3.0"}
        com.monkeyprojects/mailman-jms {:mvn/version "0.3.0"}
        com.monkeyprojects/mailman-manifold {:mvn/version "0.3.0"}
        com.monkeyprojects/mailman-nats {:mvn/version "0.3.0"
                                         ;; Conflicts with other versions
                                         :exclusions [org.bouncycastle/bcprov-lts8on
                                                      org.slf4j/slf4j-api]}
        com.monkeyprojects/monkey-jms-artemis {:mvn/version "0.3.2"}
        com.monkeyprojects/oci-container-instance {:mvn/version "0.2.5"}
        com.monkeyprojects/oci-os {:mvn/version "0.4.1"}
        com.monkeyprojects/oci-sign {:mvn/version "0.1.5"}
        com.monkeyprojects/oci-vault {:mvn/version "0.2.1"}
        com.mysql/mysql-connector-j {:mvn/version "9.4.0"}
        com.zaxxer/HikariCP {:mvn/version "7.0.2"}
        dev.weavejester/ragtime {:mvn/version "0.11.0"}
        com.stuartsierra/component {:mvn/version "1.1.0"}
        com.taoensso/telemere {:mvn/version "1.0.1"}
        commons-io/commons-io {:mvn/version "2.20.0"}
        io.minio/minio {:mvn/version "8.5.17"}
        io.prometheus/prometheus-metrics-core {:mvn/version "1.4.1"}
        io.prometheus/prometheus-metrics-exporter-opentelemetry {:mvn/version "1.4.1"}
        io.prometheus/prometheus-metrics-exporter-pushgateway {:mvn/version "1.4.1"}
        io.prometheus/prometheus-metrics-instrumentation-jvm {:mvn/version "1.4.1"}
        io.prometheus/prometheus-metrics-tracer-initializer {:mvn/version "1.4.1"}
        lambdaisland/kaocha {:mvn/version "1.91.1392"} ; Used for running build tests
        medley/medley {:mvn/version "1.4.0"}
        metosin/reitit-middleware {:mvn/version "0.9.1"}
        metosin/reitit-ring {:mvn/version "0.9.1"}
        metosin/reitit-schema {:mvn/version "0.9.1"}
        metosin/reitit-swagger {:mvn/version "0.9.1"}
        ;; Disabled until martian update is merged in
        ;; nubank/k8s-api {:mvn/version "1.0.0"}
        org.apache.activemq/artemis-server {:mvn/version "2.42.0"}
        org.apache.activemq/artemis-amqp-protocol {:mvn/version "2.42.0"}
        org.clojure/core.async {:mvn/version "1.8.741"}
        org.clojure/core.cache {:mvn/version "1.1.234"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        prismatic/schema {:mvn/version "1.4.1"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        yogthos/config {:mvn/version "1.2.1"}}

 :paths ["src" "resources"]
 
 :aliases
 {:dev
  {:extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                org.clojure/tools.namespace {:mvn/version "1.5.0"}}
   :extra-paths ["dev-resources" "env/dev"]}

  :test-paths ["test/unit" "test/integration" "test/e2e"]

  ;; clj -X:test
  :test
  {:extra-paths [:test-paths]
   :extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"}
                com.h2database/h2 {:mvn/version "2.3.232"}                
                org.clojure/test.check {:mvn/version "1.1.1"}
                ring/ring-mock {:mvn/version "0.6.2"}}
   :exec-fn monkey.test/all}

  ;; clj -M:test:junit
  :junit ; Use this in conjunction with :test
  {:extra-deps {lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}}
   :main-opts ["-m" "kaocha.runner"
               "-c" "kaocha/junit.edn"]
   ;; Add this to avoid falling back to the default logger
   :jvm-opts ["-Dlogback.configurationFile=resources/logback.xml"]}

  ;; clj -M:test:coverage
  :coverage
  {:extra-deps {lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}}
   :main-opts ["-m" "kaocha.runner"
               "-c" "kaocha/coverage.edn"]}

  :watch
  ;; clj -X:test:watch
  ;; Use in combination with :test, watches for changes
  {:extra-deps {org.clojure/tools.namespace {:mvn/version "1.5.0"}}
   :exec-fn monkey.test/watch
   ;; Skip integration and slow tests
   :exec-args {:kaocha.filter/skip-meta [:integration :slow]
               :kaocha/plugins [:kaocha.plugin/notifier]
               ;; Send notifications to desktop
               :kaocha.plugin.notifier/command "notify-send -a Kaocha %{title} %{message} -i %{icon} -u %{urgency}"}}
  
  :run
  ;; clj -M:run
  {:main-opts ["-m" "monkey.ci.core"]
   :jvm-opts ["--sun-misc-unsafe-memory-access=allow"]}

  :dispatcher
  ;; clj -M:dispatcher
  {:main-opts ["-m" "monkey.ci.dispatcher.main"]}

  :agent/builds
  ;; clj -M:agent/builds <config-file>
  {:main-opts ["-m" "monkey.ci.agent.main"]
   :jvm-opts ["-Dlogback.configurationFile=dev-resources/logback-agent.xml"]}

  :agent/containers
  ;; clj -M:agent/containers <config-file>
  {:main-opts ["-m" "monkey.ci.agent.container"]
   :jvm-opts ["-Dlogback.configurationFile=dev-resources/logback-container.xml"]}

  :agent/test
  ;; clj -X:agent/test '{:config "config.edn" :event "event.edn"}'
  {:exec-fn monkey.ci.agent.test/run-test}

  :jar
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"
                                          :exclusions [org.slf4j/slfj4-nop]}}
   :exec-fn monkey.build/jar
   :exec-args {:jar "target/monkeyci.jar"
               :lib com.monkeyci/app
               :version [[:env "MONKEYCI_VERSION"] "0.20.0-SNAPSHOT"]
               :main "monkey.ci.core"
               :scm {:url "https://github.com/monkey-projects/monkeyci"}
               :pom-data [[:licenses
                           [:license
                            [:name "GPL v3"]
                            [:url "https://www.gnu.org/licenses/gpl-3.0.en.html#license-text"]]]]}
   ;; Add this to avoid falling back to the default logger
   :jvm-opts ["-Dlogback.configurationFile=resources/logback.xml"]}
  
  :install
  {:exec-fn monkey.build/jar+install}

  :deploy
  {:exec-fn monkey.build/jar+deploy}

  :uber
  {:exec-fn monkey.build/uberjar
   :exec-args {:jar "target/monkeyci-standalone.jar"}}

  :json-logging
  {:extra-deps {ch.qos.logback.contrib/logback-json-classic {:mvn/version "0.1.5"}}
   :jvm-opts ["-Dlogback.configurationFile=dev-resources/logback-json.xml"]}

  :loki-logging
  {:jvm-opts ["-Dlogback.configurationFile=dev-resources/logback-loki.xml"]}}}
