{:deps {ch.qos.logback/logback-classic {:mvn/version "1.4.11"}
        com.monkeyci/plugin-junit {:mvn/version "0.1.0"}
        com.monkeyci/plugin-monkeyci-infra {:mvn/version "0.1.1"}
        com.monkeyci/plugin-github {:mvn/version "0.1.2"}}}
