{:deps {amazonica/amazonica {:mvn/version "0.3.168"}
        com.monkeyci/plugin-junit {:mvn/version "0.1.0"}
        com.monkeyci/plugin-github {:mvn/version "0.2.0-SNAPSHOT"}
        com.monkeyci/plugin-kaniko {:mvn/version "0.2.1"}
        com.monkeyci/plugin-pushover {:mvn/version "0.1.0"}}}
