{:deps {com.monkeyci/plugin-junit {:mvn/version "0.2.0"}
        com.monkeyci/plugin-github {:mvn/version "0.2.0"}
        com.monkeyci/plugin-kaniko {:mvn/version "0.2.2-SNAPSHOT"}
        com.monkeyci/plugin-pushover {:mvn/version "0.1.1"}
        io.minio/minio {:mvn/version "8.5.17"}}}
