<configuration scan="true" scanPeriod="5 seconds">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>		
    <encoder>
      <pattern>[%yellow(BUILD SCRIPT)] %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="org" level="WARN"/>
  <logger name="com" level="WARN"/>
  <logger name="net" level="WARN"/>
  <logger name="io" level="WARN"/>
  <logger name="monkey.ci" level="DEBUG"/>
  <logger name="monkey.ci.build" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
