{:paths ["src" "test"]
 :deps {com.monkeyci/script {:local/root "."}
        com.monkeyci/core {:local/root "../core"}
        meta-merge/meta-merge {:mvn/version "1.0.0"}
        io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}

 :tasks
 {:requires ([cognitect.test-runner.api :as ca])
  test
  {:task (ca/test {:patterns [".*-test$"]})}

  test-junit
  ;; Runs unit tests and outputs results to an xml file
  {:requires ([clojure.java.io :as io]
              [clojure.test :as t]
              [clojure.test.junit :as j])
   :task (with-open [pw (io/writer (io/file "junit-bb.xml"))]
          (binding [t/*test-out* pw]
           (j/with-junit-output
            (run 'test))))}  

  script
  ;; Runs a build script.  Provided for testing purposes.
  {:task (exec 'monkey.ci.script.core/run-cli)}}}
