{:paths ["bb"]
 :deps {com.monkeyci/script {:local/root "."}
        meta-merge/meta-merge {:mvn/version "1.0.0"}}

 :tasks
 {test
  {:requires ([test-runner :as tr])
   :task (tr/run-tests)}

  test-junit
  ;; Runs unit tests and outputs results to an xml file
  {:requires ([test-runner :as tr])
   :task (tr/run-junit-tests "junit-bb.xml")}}}
