{:deps {}

 :paths ["src"]

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {com.monkeyprojects/build {:mvn/version "0.2.0"}}
   :exec-fn monkey.test/all}

  :junit
  {:exec-fn monkey.test/junit}

  :jar
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.2.0"}}
   :exec-fn monkey.build/jar
   :exec-args {:jar "target/monkeyci-common.jar"
               :version-env "MONKEYCI_VERSION"
               :lib com.monkeyci/common}}

  :install
  {:exec-fn monkey.build/jar+install}

  :publish
  {:exec-fn monkey.build/jar+deploy}}}
