{:paths ["src"]

 :aliases
 ;; clj -X:test
 {:test
  {:extra-paths [:test-paths]
   :extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"}}
   :exec-fn monkey.test/all}

  ;; clj -M:test:junit
  :junit
  {:exec-fn monkey.test/junit}

  :watch
  ;; clj -X:test:watch
  {:extra-deps {org.clojure/tools.namespace {:mvn/version "1.5.0"}}
   :exec-fn monkey.test/watch}

  ;; clj -X:jar
  :jar
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"
                                          :exclusions [org.slf4j/slfj4-nop]}}
   :exec-fn monkey.build/jar
   :exec-args {:jar "target/common.jar"
               :lib com.monkeyci/common
               :version [[:env "MONKEYCI_VERSION"] "0.20.2-SNAPSHOT"]
               :scm {:url "https://github.com/monkey-projects/monkeyci"}
               :pom-data [[:licenses
                           [:license
                            [:name "GPL v3"]
                            [:url "https://www.gnu.org/licenses/gpl-3.0.en.html#license-text"]]]]}}
  
  ;; clj -X:jar:install
  :install
  {:exec-fn monkey.build/jar+install}

  ;; clj -X:jar:deploy
  :deploy
  {:exec-fn monkey.build/jar+deploy}}}
