{:deps {com.monkeyci/script {:mvn/version "0.27.0-SNAPSHOT"}}
 :paths ["src" "resources"]

 :aliases
 {:dev
  {:override-deps {com.monkeyci/app {:local/root "../app"}}
   :extra-paths ["test" "dev-resources" "env/dev"]}

  :test
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"}
                ch.qos.logback/logback-classic {:mvn/version "1.5.34"}}
   :extra-paths ["test" "dev-resources"]
   :exec-fn monkey.test/all}

  :junit
  {:exec-fn monkey.test/junit}

  :watch
  {:exec-fn monkey.test/watch}

  :jar
  ;; clj -T:jar
  {:deps {com.monkeyprojects/build {:mvn/version "0.3.1"}
          ch.qos.logback/logback-classic {:mvn/version "1.5.34"}}
   :exec-fn monkey.build/jar
   :exec-args {:lib com.monkeyci/test
               :version [[:env "MONKEYCI_VERSION"] "0.27.0-SNAPSHOT"]
               :jar "target/monkeyci-test.jar"
               :scm {:url "https://github.com/monkey-projects/monkeyci"}
               :pom-data [[:licenses
                           [:license
                            [:name "GPL v3"]
                            [:url "https://www.gnu.org/licenses/gpl-3.0.en.html#license-text"]]]]}}

  :install
  ;; clj -T:jar:install
  {:exec-fn monkey.build/jar+install}

  :deploy
  ;; clj -T:jar:deploy
  {:exec-fn monkey.build/jar+deploy}}}
