#kaocha/v1
#meta-merge
[#include "default.edn"
 {:kaocha/fail-fast? false
  :kaocha/plugins [:kaocha.plugin/junit-xml
                   :kaocha.plugin/profiling]
  :kaocha.plugin.junit-xml/target-file "junit.xml"
  ;;:kaocha/reporter [kaocha.report/documentation]
  }]
